
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#content {
    margin: 0 auto;
    border: 1px solid black;
}

li {
    width: 50px;
    height: 50px;
    margin-right: 2px;
    border-radius: 25px;
}

/*奇数行*/
li:nth-child(odd) {
    background: blueviolet;
}

/*偶数行*/
li:nth-child(even) {
    background: yellow;
}